<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>name</key>
		<string>rode kool met pensen</string>
		<key>date</key>
		<date>2017-10-23T15:30:39Z</date>
		<key>description</key>
		<string>mmmm rode kool</string>
		<key>rating</key>
		<integer>5</integer>
		<key>notes</key>
		<string>mijn lievelingsgerecht</string>
		<key>url</key>
		<string>www.apple.com</string>
		<key>picture</key>
		<string>Rode Kool</string>
		<key>friends</key>
		<array>
			<string>Bart</string>
			<string>Sofie</string>
		</array>
	</dict>
	<dict>
		<key>name</key>
		<string>worteltjes</string>
		<key>date</key>
		<date>2017-11-23T16:30:39Z</date>
		<key>description</key>
		<string>lekkere wortelthes</string>
		<key>rating</key>
		<integer>3</integer>
		<key>notes</key>
		<string>niet slecht</string>
		<key>url</key>
		<string>www.standaard.be</string>
		<key>picture</key>
		<string>No Picture</string>
		<key>friends</key>
		<array>
			<string>Bart</string>
			<string>Sofie</string>
		</array>
	</dict>
	<dict>
		<key>name</key>
		<string>patatten met ambras</string>
		<key>date</key>
		<date>2017-11-23T16:30:39Z</date>
		<key>description</key>
		<string>lekkere aardappeltjes</string>
		<key>rating</key>
		<integer>5</integer>
		<key>notes</key>
		<string>dit is een klassieker</string>
		<key>url</key>
		<string>www.apple.com</string>
		<key>picture</key>
		<string>pizza</string>
		<key>friends</key>
		<array>
			<string>Bart</string>
			<string>Koen</string>
		</array>
	</dict>
</array>
</plist>
